* {
  margin: 0;
  padding: 0;
}
html {
  /* background-color: #002d6d; */
  height: 100vh;
  font-family: "Baloo Bhai", sans-serif;
  /* color: white; */
}

body {
  width: 100%;
  height: 100%;
}

.center {
  text-align: center;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  /* background-color: aqua; */
}

.coinImage {
  height: 24px;
  width: 24px;
  padding-right: 15px;
}

.coinImage + span {
  display: inline-block;
  width: 150px;
}
.negativePriceChange {
  color: red;
}
.positivePriceChange {
  color: green;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
}

td,
th {
  border-bottom: 1px solid #dddddd;
  text-align: left;
  padding: 16px;
}

.timeUpdate {
  display: flex;
  align-items: center;
  justify-content: center;
}

/**
* Animation for the time Update
*/
.timeUpdateColor {
  background-color: white;
  animation-name: changeColor;
  animation-duration: 2s;
  /* animation: changeColor 2s ease infinite; */
}

@keyframes changeColor {
  from {
    background-color: white;
  }
  to {
    background-color: #f2a900;
  }
}
