<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
  <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../Style/style.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container-top">
      <h1 class="center">Crypto List</h1>
      <p class="center">
        The top 100 Cryptocurrencies according to the Market Cap
      </p>
      <!-- <p class="timeUpdate"><div >Last Update: <span id="lastUpdate"></span></div></p> -->
      <div class="timeUpdate">
        <div id="time">
          Last Update: <span id="lastUpdate" class="timeUpdateColor"></span>
        </div>
      </div>
      <p class="center">
        The data is updated every 10 seconds and sorted according to the current
        Market Cap
      </p>
      <div class="toggleBttnCont">
        <p>Dark Mode</p>
        <label class="switch">
          <input type="checkbox" class="inputDarkBttn" id="inputChkDrkMd" />
          <span class="slider" id="darkModeBttn"></span>
        </label>
      </div>
    </div>
    <div class="container">
      <table id="table">
        <thead>
          <tr>
            <th id="rank">Rank #</th>
            <!--Market Cap Rank-->
            <th id="coin">Coin</th>
            <!-- Id, Image and Symbol-->
            <th id="price">Price USD</th>
            <!-- Current price-->
            <th id="priceChange" class="priceChangeHd">24h</th>
            <!-- price_change_percentage_24-->
            <th id="marketCap" class="mktCapHd">Mkt Cap</th>
            <!-- market_cap-->
          </tr>
        </thead>
        <tbody id="table-content" class="tableCont"></tbody>
      </table>
    </div>
    <div class="overlay" id="over">
      <div class="modal" id="modalDesc">
        <p>kjfkjefk</p>
        <p>fjekjfk</p>
        <p>kjfeknf</p>
        <p>hkfhkhf</p>
      </div>
    </div>
    <!-- <img src="../Resources/Waterfall_model.png" alt="" id="imgTest">
    <img style="background-color: aqua;" id="test"></img> -->
    <script src="../Controller/script.js" async defer></script>
  </body>
</html>
